:root {
  --bg-color: #313131;
  --main-color: #f66e0d;
  --caret-color: #f66e0d;
  --sub-color: #616161;
  --sub-alt-color: #2b2b2b;
  --text-color: #f5e6c8;
  --error-color: #e72d2d;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #e72d2d;
  --colorful-error-extra-color: #7e2a33;
}
@font-face {
  font-family: Roboto-Mono;
  src: url(RobotoMono-VariableFont_wght.ttf);
}
body {
  background-color: #313131;
}
img {
  margin-left: 80px;
  width: 10%;
  height: auto;
  border-radius: 50%;
}
h1  {
  font-weight: 400;
  color: #646464;
  font-family: system-ui, Roboto, sans-serif;
}
h2  {
  font-family: Roboto-Mono;
  font-weight: 300;
  font-size: x-large;
  color:#616161;
  margin-left: 30px;
  
}
li {
  font-family: Roboto-Mono;
  font-size: large;
  color:#616161 ;
  padding-top: 5px;
  margin-left: 50px;
}
a{
  font-family: Roboto-Mono;
  color:#616161
  
}
a:hover{
  color:#f66e0d;
}
p{
  font-size: large;
  margin-left: 30px;
  font-family: Roboto-Mono;
  color:#616161
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  border-radius: 50%;
}

.grid-even-rows{
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}